{% extends 'Index.html' %}

{% block content %}
    <h2>Добавление новости</h2>
    <form action="/news/save/" method="post">
        <label for="title">Заголовок новости: </label><br>
        <input type="text" id="title" name="title" style="width: 425px;"/><br><br>
        <label for="text">Описание новости: </label><br>
        <textarea id="text" name="text" rows="10" cols="55"></textarea><br><br>
        <label for="img">Путь к картинке: </label><br>
        <input type="text" id="img" name="img" style="width: 425px;"/><br><br>
        <input type="submit" value="Добавить" />
    </form>
{% endblock %}